@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');
.App{
  display: flex;
  min-height: 100vh;
  background-image:url("360_F_184282408_guxgXLI1CDhUmCANgyqO4yE9am1hFGwl.jpg") ;
  background-size: cover;
  background-position: center;
}